<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no">
    <title>陈晓宇</title>
    <!--<link rel="stylesheet" href="css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="../static/resume1.css" type="text/css">
    <style>

        @font-face {
            font-family: myRockWell;
            src: url('../static/ROCK.TTF');
        }

        body{
            background: url('../static/bodybg.png') repeat;
            font-family: myRockWell;

        }
    </style>

</head>
<body>
    <div class="Container">

        <div class="contentWrapper">
            <!--自我介绍-->
            <article class="post" id="person">
                <div class="postTitle">
                    <h1 class="testAnimation">关于</h1>
                </div>
                <div class="postContent" id="personContent">

                    <div class="personInfoContent">
                        <div class="personInfo">
                            <h3>求职意向：软件测试工程师</h3>
                            <p>姓名：陈晓宇</p>
                            <p>性别：女</p>
                            <p>邮箱：mavischen916@163.com</p>
                            <p>联系方式：158 6074 4832</p>
                        </div>
                    </div>


                </div>
            </article>



        </div>

        <!--导航栏与底部-->
        <div class="wrapper">
            <div class="heading">
                <div id="menuContainer">
                    <ul id="menuPage" class="menu">
                        <li id="menuItem-1990" class="menuItem"><a href="index">关于</a></li>
                        <li id="menuItem-1991" class="menuItem"><a href="project">工作项目</a></li>
                        <li id="menuItem-1992" class="menuItem"><a href="education">工作和教育</a></li>
                        <li id="menuItem-1993" class="menuItem"><a href="skill">技能与兴趣</a></li>
                        <li id="menuItem-1994" class="menuItem"><a href="recommendation">自我推荐</a></li>
                    </ul>
                </div>
            </div>
            <div class="footing">
                <div class="copyright">
                    <p>
                        © 2017 Mavis Chan all rights reserved
                    </p>
                </div>

            </div>
        </div>

    </div>

    <script src="../static/jquery-2.1.1.min.js"></script>
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="../static/resume.js"></script>
</body>
</html>