<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>陈晓宇</title>
    <!--<link rel="stylesheet" href="css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="../static/resume1.css">

    <style>

        @font-face {
            font-family: myRockWell;
            src: url('../static/ROCK.TTF');
        }

        body{
            background: url('../static/bodybg.png') repeat;
            font-family: myRockWell;

        }
    </style>
</head>
<body>
    <div class="Container">

        <div class="contentWrapper">

            <!--工作项目-->
            <article class="post" id='workProject'>
                <div class="postTitle">
                    <h1>工作项目</h1>
                </div>
                <div class="postContent" id="workProjectContent">

                    <div id="project1">
                        <div class="projectNoContainer">
                            <div class="projectNo">
                                <p>
                                    项目一
                                </p>
                            </div>
                            <div class="projectName">
                                <p>
                                    iFuel系列油气合一管理系统
                                </p>
                            </div>
                        </div>

                        <div class="projectDescribeContainer">
                            <div class="projectDescribe">
                                <p>
                                    项目描述
                                </p>
                            </div>
                            <div class="projectDescribeContent">
                                <p>
                                    目前全国有9万多座加油站，其中社会油站有5万座。
                                    为加油站加气站提供一套完整的后台管理系统，
                                    适用于单站或多站联网使用。
                                    在该项目中参与需求评审，测试案例设计，测试执行，跟踪缺陷，测试报告。
                                </p>
                            </div>
                        </div>

                        <div class="workContentContainer">
                            <div class="workContent">
                                <p>
                                    工作内容
                                </p>
                            </div>
                            <div class="workContentDescribe">
                                <ol>
                                    <li>iPos前台收银系统测试</li>
                                    <li>iMis后台管理系统测试</li>
                                    <li>iCard发卡系统测试
                                        <ul>
                                            <li>账户管理 /充值 冻结 解冻 销户 撤销充值</li>
                                            <li>卡管理 / SAM 单位卡 个人卡 不记名卡 内部卡 卡充值 圈提 圈存</li>
                                            <li>客户服务 / 挂失 解挂 销卡 解灰</li>
                                            <li>报表打印 /</li>
                                        </ul>
                                    </li>
                                    <li>iHost总部系统测试</li>
                                    <li>iWeb远程查询系统测试</li>
                                </ol>
                            </div>
                        </div>
                    </div>


                    <div id="project2">

                        <div class="projectNoContainer">
                            <div class="projectNo">
                                <p>
                                    项目二
                                </p>
                            </div>
                            <div class="projectName">
                                <p>
                                    基于TQC平台的CNG/LNG加油机和加气机
                                </p>
                            </div>
                        </div>

                        <div class="projectDescribeContainer">
                            <div class="projectDescribe">
                                <p>
                                    项目描述
                                </p>
                            </div>
                            <div class="projectDescribeContent">
                                <p>
                                    主要是为中石化，中石油集团提供新一代更加稳定，防作弊系统更强的加油机。
                                    也为社会油站解决整站问题，同时提供加气机与后台管理系统。
                                    在该项目中参与需求评审，测试案例设计，测试执行，跟踪缺陷，测试报告。
                                </p>
                            </div>
                        </div>

                        <div class="workContentContainer">
                            <div class="workContent">
                                <p>
                                    工作内容
                                </p>
                            </div>
                            <div class="workContentDescribe">
                                <ol>
                                    <li>加油加气基本功能和加油限制功能的测试</li>
                                    <li>通信异常和断电异常的测试</li>
                                    <li>黑名单与白名单和价油品代码的测试</li>
                                    <li>iHost总部系统测试</li>
                                    <li>系统菜单功能与打印功能的测试</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div id="otherJob">
                        <p>其他工作</p>
                        <p>
                            1.  与硬件测试工程师开发一套编码器自动化测试工具。 <br>
                        </p>
                        <p>
                            2.  使用Python为数据库写定时备份的脚本，或使用脚本对数据库中关键数据检测等。 <br>
                        </p>
                        <p>
                            3.  配合工程师工作，使用Python+wxPython写个小工具，根据协议将数据发送给语音板芯片。 <br>
                        </p>
                        <p>
                            4.  负责安排部门内审工作，且参与公司内部内审工作，已获得内审员资格证。 <br>
                        </p>


                    </div>











                </div>
            </article>



        </div>

        <!--导航栏与底部-->
        <div class="wrapper">
            <div class="heading">
                <div id="menuContainer">
                    <ul id="menuPage" class="menu">
                        <li id="menuItem-1990" class="menuItem"><a href="index">关于</a></li>
                        <li id="menuItem-1991" class="menuItem"><a href="project">工作项目</a></li>
                        <li id="menuItem-1992" class="menuItem"><a href="education">工作和教育</a></li>
                        <li id="menuItem-1993" class="menuItem"><a href="skill">技能与兴趣</a></li>
                        <li id="menuItem-1994" class="menuItem"><a href="recommendation">自我推荐</a></li>
                    </ul>
                </div>
            </div>
            <div class="footing">
                <div class="copyright">
                    <p>
                        © 2017 Mavis Chan all rights reserved
                    </p>
                </div>

            </div>
        </div>

    </div>

    <script src="../static/jquery-2.1.1.min.js"></script>
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="../static/resume.js"></script>
</body>
</html>