<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>陈晓宇</title>
    <!--<link rel="stylesheet" href="css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="../static/resume1.css">

    <style>

        @font-face {
            font-family: myRockWell;
            src: url('../static/ROCK.TTF');
        }

        body{
            background: url('../static/bodybg.png') repeat;
            font-family: myRockWell;

        }
    </style>

</head>
<body>
    <div class="Container">

        <div class="contentWrapper">


            <!--技能与兴趣-->
            <article class="post" >
                <div class="postTitle">
                    <h1>技能与兴趣</h1>
                </div>
                <div class="postContent" id="skill">

                    <div class="workSkill">
                        <p class="showSkillContent">
                            以下是我能够熟练使用的技能
                            <button class="showSkill" type="button" id="showMe1">Show Me</button>
                        </p>
                    </div>

                    <div id="img1">
                        <img src="img/Picture2.png" alt="" >
                    </div>




                    <div class="hobby">
                        <p class="showSkillContent">
                            以下是我会比较感兴趣的技能
                            <button class="showSkill" type="button" id="showMe2">Show Me</button>

                        </p>

                    </div>

                    <div id="img2">
                        <img src="img/Picture4.png" alt="">
                    </div>



                    <div class="otherHobby">
                        <p class="showSkillContent">
                            以下是我的一些其他的小技能
                            <button class="showSkill" type="button" id="showMe3">Show Me</button>
                        </p>
                    </div>

                    <div id="img3">
                        <img src="img/Picture5.png" alt="" >
                    </div>


                </div>
            </article>


        </div>

        <!--导航栏与底部-->
        <div class="wrapper">
            <div class="heading">
                <div id="menuContainer">
                    <ul id="menuPage" class="menu">
                        <li id="menuItem-1990" class="menuItem"><a href="index">关于</a></li>
                        <li id="menuItem-1991" class="menuItem"><a href="project">工作项目</a></li>
                        <li id="menuItem-1992" class="menuItem"><a href="education">工作和教育</a></li>
                        <li id="menuItem-1993" class="menuItem"><a href="skill">技能与兴趣</a></li>
                        <li id="menuItem-1994" class="menuItem"><a href="recommendation">自我推荐</a></li>
                    </ul>
                </div>
            </div>
            <div class="footing">
                <div class="copyright">
                    <p>
                        © 2017 Mavis Chan all rights reserved
                    </p>
                </div>

            </div>
        </div>

    </div>

    <script src="../static/jquery-2.1.1.min.js"></script>
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="../static/resume.js"></script>
</body>
</html>